absl-py==0.11.0
aiofiles==23.1.0
alt==0.0.4
altair==4.2.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
anyio==3.7.0
appdirs==1.4.4
astunparse==1.6.3
async-generator==1.10
attrs==22.1.0
bcrypt==4.0.1
beautifulsoup4==4.11.1
binpacking==1.5.2
bitstring==4.0.1
blinker==1.5
bs4==0.0.1
cachetools==4.2.0
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
commonmark==0.9.1
configobj==5.0.8
configparser==5.3.0
contourpy==1.0.5
cryptography==38.0.3
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.10.0
DateTime==4.3
ddt==1.6.0
decorator==5.1.1
ecdsa==0.18.0
entrypoints==0.4
esptool==4.5
et-xmlfile==1.1.0
etelemetry==0.3.0
exceptiongroup==1.0.1
extra-streamlit-components==0.1.56
fake-useragent==1.1.1
feedparser==6.0.10
filelock==3.9.0
flatbuffers==1.12
fonttools==4.38.0
fpdf==1.7.2
future==0.18.2
gast==0.3.3
gitdb==4.0.9
GitPython==3.1.29
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==2.0.1
h11==0.14.0
h5py==3.8.0
httplib2==0.21.0
idna==2.10
importlib-metadata==5.0.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.0.0
jsonschema==4.16.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
looseversion==1.0.3
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.1
multitasking==0.0.11
networkx==3.0
nibabel==5.0.1
nipype==1.8.5
numpy==1.23.4
oauthlib==3.2.2
opencv-python-headless==4.6.0.66
openpyxl==3.0.10
outcome==1.2.0
packaging==21.3
pandas==1.5.1
pandas-datareader==0.10.0
parse==1.19.0
pathlib==1.0.1
Pillow==9.2.0
portpicker==1.5.2
protobuf==3.20.3
prov==2.0.0
psutil==5.9.3
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybimstab==0.1.5
pycparser==2.21
pydeck==0.8.0b4
pydot==1.4.2
pyee==8.2.2
Pygments==2.13.0
PyJWT==2.6.0
Pympler==1.0.1
PyMuPDF==1.22.5
pyodbc==4.0.34
pyparsing==3.0.9
pypdf==3.4.1
PyPDF2==2.11.1
pypng==0.20220715.0
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.5
PyYAML==6.0
pyzbar==0.1.9
qrcode==7.4.2
rdflib==6.2.0
reedsolo==1.6.0
reportlab==3.6.11
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.9
scipy==1.9.3
semver==2.13.0
setuptools
sgmllib3k==1.0.0
Shapely==1.8.5.post1
simplejson==3.18.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.43
starlette==0.28.0
stauth==0.1.7
streamlit==1.20.0
streamlit-authenticator==0.1.5
svglib==1.4.1
tdqm==0.0.1
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traits==6.3.2
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.4.0
tzdata==2022.5
tzlocal==4.2
urllib3==1.26.12
uvicorn==0.22.0
validators==0.20.0
w3lib==2.1.1
webencodings==0.5.1
websockets==10.4
wsproto==1.2.0
xlrd==2.0.1
yahoo-fin==0.8.9.1
yahoofinancials==1.14
yfinance==0.1.81
zbarlight==3.0
zipp==3.8.1
zope.interface==5.5.0
